.experience {
    display: flex;

    .time {
        flex: 0 0 auto;
        padding-inline: 2rem;
        padding-top: .2rem;
        font-size: .75rem;
        font-weight: 300;
    }

    .detail {
        h4 {
            font-weight: 600;
            margin-top: .2rem;
            margin-bottom: .75rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .experience {
        flex-direction: column;
        padding-left: 2rem;
        
        .time {
            padding-inline: 0;
            padding-bottom: .4rem;
        }
    }
}