.nav-container {
    ul {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        background-color: var(--background);

        li {
            margin-left: 2rem;
            margin-block: 1rem;

            a {
                font-size: 1.125rem;
                text-decoration: none;
                color: var(--text);
            }
        }
    }
    
    &.vertical {
        height: 100%;

        ul {
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: var(--background);

            li {
                margin: 1rem;
            }
        }
    }
}

@media screen and (min-width: 1224px) {
    .nav-container {
        padding-inline: 0;
    }
}