.project-card {
    display: block;
    background-color: var(--primary-background);
    border-radius: .2rem;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 18rem;

    * {
        text-align: center;
    }

    .project-title {
        margin-bottom: 1rem;
    }

    .project-description {
        font-size: .8rem;
        margin-bottom: 1.5rem;
    }

    .project-chips {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: .5rem 1rem;
    }
}

@media screen and (max-width: 276px) {
    .project-card .project-chips {
        gap: .5rem;

        > li > p {
            padding: .4rem 1rem;
        }
    }
}

@media screen and (max-width: 250px) {
    .project-card .project-chips {
        > li > p {
            padding: .4rem .5rem;
        }
    }
}