.project {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: min(10vw, 7.5rem);
    padding-block: 2rem;
    cursor: default;

    img {
        height: max(30vw, 15rem);
        aspect-ratio: 4 / 3;
        object-fit: cover;
    }

    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin-top: .75rem;
        margin-bottom: 1.75rem;

        li {
            margin-block: .25rem;
        }
        
        li:not(:last-child) {
            margin-right: 1rem;
        }
    }
    

    .actions {
        display: flex;
        margin-top: 2rem;
        
        div:not(:last-child) {
            margin-right: 2rem;
        }
    }
}