.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh);
    min-height: calc(100dvh);
    height: auto;
    padding-block: 4.5rem 4rem;
    text-align: center;

    h1 {
        color: var(--primary);
        margin-bottom: 4rem;
        text-align: center;
    }

    .skills {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 2rem;
        margin-top: 2.5rem;

        li {
            list-style: none;
            width: 6rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .container .skills li {
        width: 4rem;

        h5 {
            font-size: .9rem;
        }
    }
}

@media screen and (max-width: 576px) {
    .container .skills {
        gap: 2rem 1rem;

        li {
            width: 3rem;
    
            h5 {
                font-size: .7rem;
            }
        }
    }
}

@media screen and (max-width: 430px) {
    .container .skills {
        gap: 2rem .8rem;

        li {
            width: 12vw;
    
            h5 {
                font-size: .6rem;
                font-weight: 500;
                word-wrap: break-word;
            }
        }
    }
}